.row
  .hidden-xs.hidden-sm.col-lg-4.col-lg-offset-1
    %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/wmtZKC8m2ew", :width => "560"}
  .col-xs-12.col-md-6
    %h2 Manage Agile Projects
    %p
      GitLab enables lean and agile project management from basic issue tracking to scrum and kanban-style project management. Whether you’re simply tracking a few issues or managing the complete DevOps lifecycle across a team of developers, GitLab has you covered.
      %ul
        %li
          %strong Plan, assign, and track work 
          with <a href=“https://docs.gitlab.com/ee/user/project/issues/index.html”>issues</a>
        %li
          %strong Organize work 
          with <a href=“https://docs.gitlab.com/ee/user/project/labels.html”>labels</a>, <a href=“https://docs.gitlab.com/ee/user/group/iterations/“>Iterations</a>, and <a href=“https://docs.gitlab.com/ee/user/project/milestones/index.html#overview”>Milestones</a>
        %li
          %strong Visualize work 
          with <a href=“https://docs.gitlab.com/ee/user/project/issue_board.html#issue-boards”>Boards</a>
        %li
          %strong Correlate work with output 
          using <a href=“https://docs.gitlab.com/ee/user/project/merge_requests/index.html”>merge requests</a>      
%hr.divider
