---
layout: handbook-page-toc
title: "Top Misused Terms - GitLab Communication"
---

<!-- NOTE: To update misused terms, please open "data/communication/misused_terms.yml -->

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

## List of Top Misused Terms

Below are terms people frequently use when they should use another term.

<div class="responsive-table">
  <table>
    <thead>
      <tr>
        <th class="misused-avoid">
          Misused terms
        </th>
        <th class="misused-use-instead">
          Alternatives
        </th>
        <th class="misused-reason">
          Reason Why
        </th>
      </tr>
    </thead>
    <tbody>
    <% Gitlab::Homepage::MisusedTerm.all!.each do |term| %>
      <tr id="<%= term.id %>">
        <td class="misused-avoid">
          <% term.avoid.each do |avoid_item| %>
            <%= kramdown(avoid_item) %>
          <% end %>

          <% if term.avoid_footnote.present? %>
            <p><small><%= term.avoid_footnote %></small></p>
          <% end %>
          <a href="#<%= term.id %>" class="misused-permalink" title="Link to this term">permalink to <%= term.avoid.first %></a>
        </td>

        <td class="misused-use-instead">
          <% term.use_instead.each do |alternative| %>
            <%= kramdown(alternative) %>
          <% end %>
        </td>

        <td class="misused-reason">
          <%= kramdown(term.reason) %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<!-- leave this section at the bottom of the page -->
---

## Export

<details>
  <summary>Export: List of top misused terms</summary>

  <p>Please note that some terms may have been excluded from exports.</p>

  <textarea class="misused-export"><%= Gitlab::Homepage::MisusedTerm.excluded_from_export %></textarea>
</details>
